.admin-login {
    text-align: right;
}
.admin-login a{ font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                color: #000000;
                line-height:76px;
            }

.logo img{  margin-top:0px;
            }

.resp-img{
    /* background-image: url(../assets/hiring-tool-top-banner.png); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:40px;
    padding: 0px;
}
.resp-img img{  width:100%;
                margin:0em 0em;
                padding:0em;
                }

*,
html,
body{  font-family: "Graphik Regular", "Arial", Sans-Serif !important;
              padding: 0px;
              margin:0px;}

.otp-notice h3{ color:#af00f6;
                text-align:center;
                font-weight:bold;
                line-height:35px;
                font-size:22px;
                margin-bottom:30px;
                }
otp{ margin-top:40px;}

/***** Footer *****/
.footer{    font-size: 12px;
            text-align: center;
            margin-top:30px;
            }

.footer a{  font-weight:bold;
            text-decoration: none;
            color:#000000;
            }

.copyright{ margin-top:10px;}

.mrg-top{margin-top:15px;}

.mrg-bttm{ margin-bottom:15px;}

/** Bootstrap overwrites **/
.next{ border-radius: 0;}
form input{ border: none;
        border-radius: 0;
        background-color: #999999;
        padding: 8px 10px;
    }

.section-title{
 color:#af00f6;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary{   background-color: #af00f6;
                border: none;
                }

.details-top .col-lg-4 {
  border:1px solid #000000;
  border-left:none;
  padding: 10px;
}

.details-bottom .col-lg-8{
  border-right: none !important;
}
.details-top .col-lg-4:nth-child(3){
  border-right: none;
}
.details-bottom .col-lg-4,
.details-bottom .col-lg-8{
  border:1px solid #000000;
  border-left:none;
  border-top:none;
  padding: 10px;
}
.details-top input,
.details-bottom input{
    background-color: #999;
    border: none;
    padding: 8px 10px;
}

.txtarea{
  padding-top:15px;
  padding-bottom:15px;
  background-color: #e9e9e9;
}

.upload-video-banner{  z-index: 0; }

.upload-video{  position:absolute;
                z-index: 999;
                margin-top: 5%;
                background: #e9e9e9;
                height:300px;
                text-align: center;
                color:#000000;
                padding-top:20px;
                }

@media only screen and (max-width: 600px) {
    .otp-notice h3{ font-size:18px;
                    line-height: 25px;
                    }
}
