<div class="container-fluid">

<section>
  <!-- Content -->
  <div class="row">
      <router-outlet></router-outlet>
  </div>
  <!-- /Content/ -->
</section>

<footer>
  <div class="row">
    <div class="col-lg-12 footer">
        By using this site you agree that we can place cookies on your device.<br />
        See our <a href="#">Privacy Policy</a> and <a href="#">Cookie Policy</a> for details.
        <div class="copyright">
            &copy; 2018 Accenture. All Rights Reserved.
        </div>
    </div>
  </div>
</footer>
</div>
