<div class="row">
    <div class="col-lg">
        <h3 class="section-title font-weight-bold">
            We are excited to hear from you. Start by providing your cellular number below:
        </h3>
    </div>
</div>
<div class="row">
    <div class="offset-lg-3 col-lg-5">
        <form name ="form" (ngSubmit)="onSubmit()">
            <div class="col-lg-12 mrg-top form-group">
                <input type="text" class="form-control intxt" id="cellphone-number" name="cellphoneNumber" placeholder="Telephone (cellular)" required
              />
            </div>
            <div class="col-lg-12 align-self-center mrg-top">
                <button type="submit" class="btn btn-primary next">NEXT</button>
            </div>
        </form>
    </div>
</div>

