<!-- Top Navigation -->
<article class="col-lg-12">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-6 logo">
          <a href="#">
              <img alt="ACCENTURE" src="../assets/accenture-logo.png" class="img-responsive" />
          </a>
        </div>
        <div class="col-lg-8 col-sm-6 col-xs-6 admin-login">
          <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Admin log in</a>
        </div>
    </div>
  </article>
  <!-- Top Navigation -->

  <!-- Form or Content -->
  <article class="col-lg-12 resp-img">
    <div class="row">
      <div class="col-lg-12"><img alt="ACCENTURE" src="../../assets/hiring-tool-top-banner.png" class="img-responsive upload-video-banner" /></div>
      <div class="offset-lg-4 col-lg-4 upload-video">
          <h2>Upload Videos</h2>

          <form (ngSubmit)="uploadVideo()">
            <button type="submit" class="btn btn-primary next">NEXT</button>
          </form>

      </div>
    </div>



  </article>
  <!-- Form or Content -->
