<div class="row">
    <div class="col-lg">
        <h3 class="section-title font-weight-bold">
                We are excited to hear from you. Start by providing<br />
                your cellular number below:
        </h3>
    </div>
</div>
<div class="row">
    <div class="offset-lg-3 col-lg-5 mrg-top">
        <input type="text" class="form-control intxt" placeholder="Telephone (cellular)"/>
    </div>
    <div class="offset-lg-3 col-lg-5 align-self-center mrg-top">
        <button (click)="onClickMe()" class="btn btn-primary next">NEXT</button>
    </div>
</div>

